
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Bienvenido apliación de prueba</h1>

<a asp-area="" asp-controller="Personas1" asp-action="Index" class="navbar-brand">Click aqui para ver el listado</a>